<!-- <main>

    <h1>{{userName}}</h1>
    <button (click)="printName()">print</button>

</main> -->



<!-- <div class="div">
    <div class="card">
        <h1>{{userName1}}</h1>
        <h3>{{userGmail1}}</h3>
        <p>{{userAge1}}</p>
        <button (click)="sendData()">save</button>
    </div>
</div>

<div class="div">
    <div class="card">
        <h1>{{userName2}}</h1>
        <h3>{{userGmail2}}</h3>
        <p>{{userAge2}}</p>
    </div>
</div> -->

<!-- <h1></h1> -->

<header>
    <app-header></app-header>
</header>

<main>
    <app-main></app-main>
</main>

<footer>
    <app-footer></app-footer>
</footer>